.form__create-card {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__text-input {
  font-size: 18px;
  width: 100%;
}

.form__button {
  background-color: $green-dark;
  box-shadow: 4px 5px 16px 2px $shadow-grey;
  color: $grey;
  font-size: 18px;
  height: 50px;
  margin: 10px 0;
  width: 100%;
}

.anchor__url {
  color: $green-dark;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.form__textarea {
  height: 150px;
}
