$black: #10170c;
$checkbox-border-white: #cacece;
$checkbox-shadow: #00000010;
$checkbox-white: #fafafa;
$green-dark: #5b8447;
$green-light: #7fb963;
$grey: #f8f9f3;
$radio: #858585;
$bookmark: #b9b6ba;
$shadow-grey: #dedfdd;
$switch: #5b844755;
$bookmarklavender: #cf86ea;

$dark-black: #f8f9f3;
$dark-checkbox-border-white: #cacece;
$dark-checkbox-shadow: #00000010;
$dark-checkbox-white: #fafafa;
$dark-green-dark: #d6e0d1;
$dark-green-light: #afd39e;
$dark-grey: #494947;
$dark-radio: #858585;
$dark-shadow-grey: #5b5c5a;
$dark-switch: #5b844755;
$dark-bookmark: #918e92;

//old $dark-grey: #272726
//$dark-shadow-grey: #444543f0;
